DB_USER=your_mysql_username
DB_PASSWD=your_mysql_password
DB_NAME=library_dev
TEST_DB_NAME=library_test
PROD_DB_NAME=library_prod
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
JWT_SECRET_KEY=replace_with_a_long_random_string
APP_PORT=3000